/* Write your CSS here */
.each-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: -60px;
}
.del-btn {
  background-color: none;
  border-style: solid;
  border-color: #ff0b37;
  color: #ff0b37;
  height: 3vh;
  width: 5vw;
  border-radius:8px;
}
